.login-box {
    width: 400px;
    margin: 0 auto;
}
.login-box h4 {
    padding-bottom: 10px;
    text-align: center;
}
.login-box form {
    display: block;
    width: 100%;
}

.password-group {
    padding-bottom: 20px;
}
.submit-btn {
    margin-right: 10px;
}
.alert {
    padding: 0.5rem 1.25rem;
    display: none;
}
