.product-info {

}
.product-info .big-img {
    width: 100%;
    height: 400px;
    border: 1px solid #ddd;
}

.product-info .big-img img {
    width: 100%;
    height: 100%;
}
.thumbnail-list {
    margin: 10px 0;
}
.thumbnail-list li {
    float: left;
    width: 60px;
    height: 60px;
    border: 1px solid #ddd;
    margin-right: 8px;
}
.thumbnail-list li img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}


/*商品信息右侧部分*/
.detail-info {
    h4 {
        color: #666;
        font-size: 18px;
    }
    .subtitle {
        font-size: 16px;
        color: red;
    }
    .price {
        height: 40px;
        line-height: 40px;
        background-color: #eee;
    }
    .stock {
        height: 40px;
        line-height: 40px;
    }
    .quantity {
        display: flex;
        height: 40px;
        align-items: center;
        span {
            display: block;
        }
        input {
            padding-left: 12px;
            width: 40px;
            margin: 0 10px;
        }
        .descrease,
        .add {
            width: 40px;
            height: 30px;
            line-height: 30px;
            border: 1px solid #999;
            text-align: center;
            cursor: pointer;
        }
        .label {
            padding-right: 14px;
        }
    }
    div {
        .label {
            padding-left: 10px;
            color: #999;
            font-size: 14px;
        }
    }
}
/*商品详情部分*/
.detail-wrap {
    .title {
        padding-left: 14px;
        height: 50px;
        line-height: 50px;
        background-color: #eee;
        border-bottom: 1px solid red;
    }
}
