<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>
<body>
  <%= require('html-loader!./layout/nav.html') %>

    <nav aria-label="breadcrumb" role="navigation" class="breadcrumb-box">
     <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="./index.html">主页</a></li>
        <li class="breadcrumb-item active" aria-current="page"><%= htmlWebpackPlugin.options.title %></li>
      </ol>
     </div>

    </nav>

    <div class="container">
        <div class="row product-info">
            <div class="col-lg-4">
                <div class="big-img">
                    <img src="http://img.happymmall.com/241997c4-9e62-4824-b7f0-7425c3c28917.jpeg" alt="">
                </div>
                <ul class="thumbnail-list clx">
                   <li><img src="http://img.happymmall.com/241997c4-9e62-4824-b7f0-7425c3c28917.jpeg" alt=""></li>
                   <li><img src="http://img.happymmall.com/241997c4-9e62-4824-b7f0-7425c3c28917.jpeg" alt=""></li>
                   <li><img src="http://img.happymmall.com/241997c4-9e62-4824-b7f0-7425c3c28917.jpeg" alt=""></li>
                </ul>
            </div>
            <div class="col-lg-8 detail-info">
                <h4 class="title">华为手机</h4>
                <p class="subtitle">满999减50</p>
                <div class="price">
                    <span class="label">价格：</span>
                    <span class="text">￥999</span>
                </div>
                <div class="stock">
                    <span class="label">库存：</span>
                    <span class="text">99</span>
                </div>
                <div class="quantity">
                    <span class="label">数量：</span>
                    <span class="descrease">-</span>
                    <input type="text" value="1" readonly="readonly">
                    <span class="add">+</span>
                </div>

                <div class="btn btn-primary">立即购买</div>

            </div>
        </div>
        <div class="detail-wrap">
            <div class="title">商品详情</div>
            <div class="content">kk 不会让你</div>
        </div>
    </div>
    <%= require('html-loader!./layout/footer.html') %>

    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>
