<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>
<body>
  <%= require('html-loader!./layout/nav.html') %>
  <div class="container focus-con">
    <div class="row">
      <div class="col-lg-3 nav-category">
        <ul class="list-group">
          <li class="list-group-item">
            <a href="./list.html?keyword=手机">手机</a>
            <a href="./list.html?keyword=运营商">运营商</a>
            <a href="./list.html?keyword=数码">数码</a>
          </li>
          <li class="list-group-item">
            <a href="./list.html?keyword=手机">手机</a>
            <a href="./list.html?keyword=手机">运营商</a>
            <a href="./list.html?keyword=手机">数码</a>
          </li>
          <li class="list-group-item">
            <a href="">手机</a>
            <a href="">运营商</a>
            <a href="">数码</a>
          </li>
          <li class="list-group-item">
            <a href="">手机</a>
            <a href="">运营商</a>
            <a href="">数码</a>
          </li>
          <li class="list-group-item">
            <a href="">手机</a>
            <a href="">运营商</a>
            <a href="">数码</a>
          </li>
          <li class="list-group-item">
            <a href="">手机</a>
            <a href="">运营商</a>
            <a href="">数码</a>
          </li>
          <li class="list-group-item">
            <a href="">手机</a>
            <a href="">运营商</a>
            <a href="">数码</a>
          </li>

        </ul>
      </div>
      <div class="col-lg-9">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
            </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
                <a class="d-block w-100" href="./list.html?categoryId=100001">
                  <img class="d-block w-100" src="<%= require('./image/banner/banner1.jpg') %>" alt="First slide">
                </a>
            </div>
            <div class="carousel-item">
                <a class="d-block w-100" href="./list.html?categoryId=100002">
                  <img class="d-block w-100" src="<%= require('./image/banner/banner2.jpg') %>" alt="First slide">
                </a>
            </div>
            <div class="carousel-item">
                <a class="d-block w-100" href="./list.html?categoryId=100003">
                  <img class="d-block w-100" src="<%= require('./image/banner/banner3.jpg') %>" alt="First slide">
                </a>
            </div>
            <div class="carousel-item">
                <a class="d-block w-100" href="./list.html?categoryId=100004">
                  <img class="d-block w-100" src="<%= require('./image/banner/banner4.jpg') %>" alt="First slide">
                </a>
            </div>
            <div class="carousel-item">
                <a class="d-block w-100" href="./list.html?categoryId=100005">
                  <img class="d-block w-100" src="<%= require('./image/banner/banner5.jpg') %>" alt="First slide">
                </a>
            </div>
          </div>
          <a class="carousel-control-prev" href="javascript:;" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="javascript:;" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>

        </div>
      </div>
    </div>
  </div>
  <div class="container floor-box">
    <div class="floor-item">
      <h3>F1 家用电器</h3>
      <div class="item-con">
        <div class="card">
            <a href="./list.html?categoryId=100006" class="card-link">
                <img class="card-img-top" src="<%= require('./image/floor/floor1-1.jpg') %>" alt="Card image cap">
                  <h4 class="card-title">双开门冰箱</h4>
            </a>
        </div>
        <div class="card">
            <a href="./list.html?categoryId=100005" class="card-link">
                <img class="card-img-top" src="<%= require('./image/floor/floor1-2.jpg') %>" alt="Card image cap">
                  <h4 class="card-title">电视</h4>
            </a>
        </div>
        <div class="card">
            <a href="./list.html?categoryId=100004" class="card-link">
                <img class="card-img-top" src="<%= require('./image/floor/floor1-3.jpg') %>" alt="Card image cap">
                  <h4 class="card-title">洗衣机</h4>
            </a>
        </div>
        <div class="card">
            <a href="./list.html?categoryId=100007" class="card-link">
                <img class="card-img-top" src="<%= require('./image/floor/floor1-4.jpg') %>" alt="Card image cap">
                  <h4 class="card-title">空调</h4>
            </a>
        </div>
        <div class="card">
            <a href="./list.html?categoryId=100008" class="card-link">
                <img class="card-img-top" src="<%= require('./image/floor/floor1-5.jpg') %>" alt="Card image cap">
                  <h4 class="card-title">双开门冰箱</h4>
            </a>
        </div>
      </div>
    </div>
    <div class="floor-item">
      <h3>F1 家用电器</h3>
      <div class="item-con">
        <div class="card">
          <img class="card-img-top" src="<%= require('./image/floor/floor2-1.jpg') %>" alt="Card image cap">
            <h4 class="card-title">电脑</h4>
        </div>
        <div class="card">
          <img class="card-img-top" src="<%= require('./image/floor/floor2-2.jpg') %>" alt="Card image cap">
            <h4 class="card-title">手机</h4>
        </div>
        <div class="card">
          <img class="card-img-top" src="<%= require('./image/floor/floor2-3.jpg') %>" alt="Card image cap">
            <h4 class="card-title">平板</h4>
        </div>
        <div class="card">
          <img class="card-img-top" src="<%= require('./image/floor/floor2-4.jpg') %>" alt="Card image cap">
            <h4 class="card-title">照相机</h4>
        </div>
        <div class="card">
          <img class="card-img-top" src="<%= require('./image/floor/floor2-5.jpg') %>" alt="Card image cap">
            <h4 class="card-title">排插</h4>
        </div>
      </div>
    </div>
    <div class="floor-item">
      <h3>F1 家用电器</h3>
      <div class="item-con">
        <div class="card">
          <img class="card-img-top" src="<%= require('./image/floor/floor1-1.jpg') %>" alt="Card image cap">
            <h4 class="card-title">双开门冰箱</h4>
        </div>
        <div class="card">
          <img class="card-img-top" src="<%= require('./image/floor/floor1-2.jpg') %>" alt="Card image cap">
            <h4 class="card-title">电视</h4>
        </div>
        <div class="card">
          <img class="card-img-top" src="<%= require('./image/floor/floor1-3.jpg') %>" alt="Card image cap">
            <h4 class="card-title">洗衣机</h4>
        </div>
        <div class="card">
          <img class="card-img-top" src="<%= require('./image/floor/floor1-4.jpg') %>" alt="Card image cap">
            <h4 class="card-title">空调</h4>
        </div>
        <div class="card">
          <img class="card-img-top" src="<%= require('./image/floor/floor1-5.jpg') %>" alt="Card image cap">
            <h4 class="card-title">洗衣机</h4>
        </div>
      </div>
    </div>
  </div>

  <%= require('html-loader!./layout/footer.html') %>

  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>
