
body {
    background: #f6f6f6;
}
.carousel-indicators li {
	cursor: pointer;
}

/*轮播图右边的导航栏样式*/
.focus-con {
	padding-top: 40px;
}
.nav-category .list-group,
.nav-category .list-group li {
	background-color: #6e6568;
}

.nav-category .list-group li a {
	color: #fff;
}


/*楼层部分的样式*/
.floor-item {
    padding-bottom: 20px;
}
.floor-item h3 {
	height: 50px;
	border-bottom: 1px solid pink
	line-height: 50px;
	font-size: 18px;
	color: pink;
}
.floor-item .item-con {
    display: flex;
    padding-top: 10px;
}
.floor-item .item-con .card {
    width: calc(20% - 20px);
    margin-right: 20px;

}
.floor-item .item-con .card .card-link {
    display: block;
}
.floor-item .item-con .card .card-img-top {
    width: 100%;
    height: 200px;
}
.floor-item .item-con .card .card-title {
    padding: 10px 0;
    text-align: center;
}
